@import '@/assets/styles/vars.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-white;
    z-index: 1000;

    .container {
        max-width: 1370px;
        margin: 0 auto;
        padding: 0 15px;

        .top-bar {
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 36px;
            background: $color-white;
            font-size: $font-size-sm;
            font-family: $font-family-primary;
            border-bottom: 1px solid $color-border;

            .top-bar-left {
                display: flex;
                align-items: center;
                gap: 15px;
                color: $color-primary;
                opacity: 0.7;

                .icon {
                    width: 20px;
                    height: 20px;
                }

                .address-info {
                    display: flex;
                    flex-direction: column; 
                    gap: 2px; 
                    align-items: flex-start;

                    .address-main {
                        color: $color-black;
                        font-size: $font-size-sm;
                    }

                    .adress-market {
                        color: $color-primary;
                        font-size: $font-size-xs;
                    }
                }

                .mail-text {
                    display: flex;
                    flex-direction: column; 
                    gap: 2px; 

                    a {
                        text-align: start;
                        color: $color-black;
                        text-decoration: none;
                        font-size: $font-size-sm;
                    }

                    span {
                        color: $color-primary;
                        font-size: $font-size-xs;

                    }
                }
            }

            .top-bar-right {
                display: flex;
                align-items: center;
                gap: 30px;

                span {
                    color: $color-primary;
                    opacity: 0.7;
                }

                nav {
                    display: flex;
                    gap: 25px;
                    margin-left: 10px;

                    a {
                        color: $color-primary;
                        text-decoration: none;
                        font-size: $font-size-sm;
                        opacity: 0.7;
                    }
                }
            }
        }

        .main-bar {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 78px;
            border-bottom: 1px solid $color-border;
            
            .logo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 24px;
                font-weight: 700;
                color: $color-primary;
                letter-spacing: 2px;
                min-width: 120px;

                .logo-image {
                    width: 65px;
                    height: 50px;
                }
            }

            .catalog-btn {
                padding: 20px 54px;
                background: $color-secondary;
                color: $color-white;
                border: none;
                border-radius: 79px;
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
                cursor: pointer;
                white-space: nowrap;
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .phone-info {
                display: flex;
                align-items: center;
                gap: 14px;
                
                .phone-text {
                    display: flex;
                    flex-direction: column;
                    align-items: end;

                    .number {
                        color: $color-primary;
                        text-decoration: none;
                        font-size: $font-size-sm;
                        font-weight: $font-weight-semibold;
                        line-height: 1.4;
                    }
                    
                    span {
                        color: $color-primary;
                        font-size: $font-size-xs;
                        font-weight: $font-weight-light;
                        line-height: 1.4;
                    }
                    
                    .order-call {
                        color: $color-primary;
                        font-size: $font-size-xxs;
                        font-weight: $font-weight-regular;
                        text-decoration: underline;
                        line-height: 1.4;
                    }
                }
                
                .cart-image {
                    display: flex;
                    align-items: center;
                    
                    .women-image {
                        width: 50px;
                        height: 70px;
                        object-fit: contain;
                        cursor: pointer;
                    }
                }
            } 

            .basket-container {
                display: flex;
                align-items: center;
                gap: 8px; 

                .basket-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    border: none; 
                    padding: 0;   
                    margin: 0;    
                    cursor: pointer;
                    width: auto;
                    height: auto;
                    line-height: 0; 

                    .basket-icon {
                        width: 40px;
                        height: 30px;
                        object-fit: contain;
                    }
                }

                .basket-text {
                    color: $color-primary;
                    font-size: 14px;
                    font-weight: 500;
                    white-space: nowrap;
                    line-height: 1;
                }
            }
        }
    }
}
