@import '@/assets/styles/vars.scss';

.footer {
    margin-top: 60px;
    padding: 70px 0 20px;
    background: $color-primary;

    .container {
        max-width: 1370px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__columns {
        display: grid;
        grid-template-columns: 320px 130px 170px 215px 150px; 
        gap: 95px;
    }

    &__column {
        text-align: left;

        &-title {
            font-size: $font-size-xl;
            font-weight: $font-weight-semibold;
            text-align: left;
            color: $color-white;
        }
        
        &-title-links {
            margin-top: 25px;
            font-size: $font-size-sm;
            font-weight: $font-weight-regular;
            text-align: left;
            color: $color-white;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;

        &-image {
            width: 65px;
            height: 50px;
            filter: brightness(0) invert(1);
            object-fit: contain;
        }

        &-text {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 2px;
            color: $color-white;
        }
    }

    &__description {
        max-width: 270px;
        margin-top: 25px;
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
        line-height: 1.5;
        text-align: left;
        color: $color-white;
    }

    &__subscribe-title {
        margin-top: 45px;
        display: block;
        font-size: $font-size-xs;
        font-weight: $font-weight-regular;
        text-align: left;
        color: $color-white;
    }

    &__btn-email {
        margin-top: 15px;
    }

    &__btn-price {
        margin-top: 25px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        margin-top: 25px;

        &-link {
            display: inline-block;
            font-size: $font-size-sm;
            font-weight: $font-weight-regular;
            text-align: left;
            text-decoration: none;
            color: $color-white;
            opacity: 0.7;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    &__social {
        display: flex;
        gap: 10px;
        margin-top: 15px;
        
        &-icon {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 25px;
        text-align: left;

        .footer__phone {
            font-size: $font-size-sm;
            font-weight: $font-weight-semibold;
            text-decoration: none;
            color: $color-white;
        }

        .footer__work-time {
            font-size: $font-size-xs;
            font-weight: $font-weight-light;
            color: $color-white;
            opacity: 0.7;
        }

        .footer__order-call {
            display: inline-block;
            font-size: $font-size-xxs;
            font-weight: $font-weight-regular;
            text-decoration: underline;
            color: $color-white;
        }
    }
    
    &__mail {
        &-text {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        &-link {
            font-size: $font-size-sm;
            font-weight: $font-weight-semibold;
            text-decoration: none;
            color: $color-white;
        }

        &-description {
            font-size: $font-size-xs;
            font-weight: $font-weight-light;
            color: $color-white;
        }
    }

    &__pay {
        margin-top: 25px;
        display: flex;
        gap: 10px;
    }
}
